pip-selfcheck.json
*.swp
*.swo
#virtualenv files
bin/activate*
bin/easy_install*
bin/pip*
bin/iptest*
bin/wheel
bin/f2py
bin/python*
bin/ipython*
src/*\.pyc
bin/cygdb
bin/cython
bin/cythonizelib
include
share
\.Python

